.Hero-Container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: var(--width_container);
  margin: auto;
  height: 95vh;
  .greetings-container {
    text-align: center;
    h1 {
      font-size: var(--font_size_64);

      span {
        color: var(--colour_main_blue);
      }
    }
    p {
      letter-spacing: 1px;
      max-width: 700px;
      font-size: var(--font_size_25);
    }
    .resumeLink {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .Resume {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        letter-spacing: 1px;
        font-size: var(--font_size_20);
        width: fit-content;
        color: var(--text_colour_black);
        box-shadow: var(--box_shadow);
        padding: 10px 20px;
        border-radius: 12px;
        svg {
          transition: 0.2s ease-in-out all;
        }

        &:hover {
          color: var(--colour_main_blue);
          svg {
            fill: var(--colour_main_blue);
          }
        }
      }
      a {
        transition: 0.2s ease-in-out all;
      }
      a:hover {
        transform: translateY(-3px);
      }
      .social-link {
        display: flex;
        gap: 10px;
        margin-left: 20px;
        .card {
          height: 55px;
          aspect-ratio: 1/1;
          box-shadow: var(--box_shadow);
          border-radius: 12px;
          display: grid;
          place-items: center;
          img {
            width: 50%;
          }
        }
      }
    }
  }
  .icon-container {
    .image-container {
      width: fit-content;
      padding: 30px;
      img {
        width: clamp(250px, 35vw, 350px);
      }
    }
  }
}
.image-Container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
  left: 0px;
  img {
    width: 250px;
    max-width: fit-content;
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Hero {
    .Hero-Container {
      .greetings-container {
        padding-top: 0px;
        padding-bottom: 0px;
        h1 {
          text-align: center;
        }
        h2 {
          text-align: center !important;
        }
      }
    }
  }
}
