.Hero-Container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: var(--width_container);
  margin: auto;
  height: 95vh;
  .greetings-container {
    text-align: center;
    h1 {
      font-size: var(--font_size_64);

      span {
        color: var(--colour_main_blue);
      }
    }
    p {
      letter-spacing: 1px;
      max-width: 700px;
      font-size: var(--font_size_25);
    }
  }
  .icon-container {
    .image-container {
      width: fit-content;
      padding: 30px;
      background-image: url("/blob.svg");
      img {
        width: clamp(250px, 35vw, 350px);
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Hero {
    .Hero-Container {
      .greetings-container {
        padding-top: 0px;
        padding-bottom: 0px;
        h1 {
          text-align: center;
        }
        h2 {
          text-align: center !important;
        }
      }
    }
  }
}
