#Education .Experiece-Container {
  width: var(--width_container);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--padding_20);
  gap: 20px;
}
#Education .Experiece-Container .Education-Card {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#Education .Experiece-Container .Education-Card .Education-Line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#Education .Experiece-Container .Education-Card .Education-Line .Point {
  aspect-ratio: 1/1;
  width: 7px;
  background-color: var(--colour_main_blue_dark);
  border-radius: 100%;
}
#Education .Experiece-Container .Education-Card .Education-Line .Bar {
  width: 3px;
  background-color: var(--colour_main_blue);
  border-radius: 5px;
  height: 100%;
}
#Education .Experiece-Container .Education-Card .Education-Data {
  border-radius: 8px;
  width: clamp(300px, 100%, 571px);
  background-color: var(--bg_colour_lblack);
  padding: var(--padding_20);
  box-shadow: var(--box_shadow);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute {
  display: flex;
  gap: 20px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute .Education-Logo {
  width: 150px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute .Education-Logo img {
  width: 100%;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute .Education-Details .Name {
  color: var(--text_colour_white);
  font-size: var(--font_size_20);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute .Education-Details .Degree {
  color: var(--text_colour_white);
  font-size: var(--font_size_16);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Institute .Education-Details .Timeline {
  color: var(--text_colour_lgray);
  font-size: var(--font_size_16);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content {
  margin-top: 20px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience {
  margin: 8px 0px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Title h3 {
  color: var(--text_colour_lgray);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Details {
  margin-top: 5px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Details ul li {
  margin-top: 5px;
  margin-left: 8px;
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Details ul li a {
  color: var(--text_colour_lgray);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Details ul li a:hover {
  color: var(--colour_main_blue_dark);
}
#Education .Experiece-Container .Education-Card .Education-Data .Education-Content .Section-Experience .Section-Details p {
  margin-left: 8px;
  color: var(--text_colour_white);
  font-size: var(--font_size_18);
}/*# sourceMappingURL=Education.css.map */