#Navigation {
  width: 100%;
  height: var(--nav_height);
  background-color: var(--bg_colour_lblack);
  display: grid;
  place-items: center;
  position: fixed;
  .Navigation-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width_container);
    padding: var(--padding_020);
    height: var(--nav_height);
    .Logo {
      h2 {
        color: var(--text_colour_white);
      }
    }
    .Shortcurt {
      display: flex;
      gap: var(--gap_15);
      li {
        a {
          display: block;
          color: var(--text_colour_white);
          padding: var(--padding_1020);
        }
      }
    }
    .Link {
      display: flex;
      gap: var(--gap_15);
      li {
        a {
          display: grid;
          align-items: center;
          border-radius: 24px;
          background-color: white;
        }
      }
    }
  }
}
