@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

:root {
  --bg_dots: #6666662a;
  --bg_colour_absoluteWhite: #fff;
  --bg_colour_white: #fbfbfb;
  --bg_white_glass: #f9ffff6b;
  --bg_black_glass: #181818d3;
  --bg_colour_black: #1a1a1a;
  --bg_selection: #dedede;
  --bg_colour_dkgray: #252525;
  --bg_colour_lgray: #cecece;

  --text_colour_white: #fbfbfb;
  --text_colour_black: #1a1a1a;

  --text_colour_dkgray: #3a3a3a;
  --text_colour_lgray: #7a7a7a;

  --nav-height: 63px;

  --width_container: clamp(300px, 100%, 1100px);

  --padding_l: 20px;
  --padding_m: 15px;
  --padding_s: 10px;

  --padding_btn_s: 10px 20px;
  --padding_btn_m: 15px 30px;

  --gap_l: 20px;
  --gap_m: 15px;
  --gap_s: 10px;

  --mg_side_auto: 0px auto;
  --mg_auto: auto;

  --mg_l: 20px;
  --mg_m: 15px;
  --mg_s: 10px;
  --mg_xs: 5px;

  --font_size_xl: clamp(2rem, 5vw, 4.5rem);
  --font_size_l: clamp(1.3rem, 3vw, 1.6rem);
  --font_size_m: clamp(1rem, 2vw, 1.1rem);
  --font_size_s: clamp(0.95rem, 1.5vw, 1rem);
  --font_size_xs: clamp(0.8rem, 1vw, 0.95rem);

  --border_rad10: 10px;

  --shadow_box: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;

  --font_extrabold: 700;
  --font_bold: 600;
  --font_normal: 500;
}

body {
  background-color: var(--bg_colour_white);
  background-image: radial-gradient(var(--bg_dots) 1px, transparent 2px);
  background-repeat: repeat;
  background-size: 30px 30px;
  &.dark {
    --bg_dots: #6161612a;
    --bg_colour_absoluteWhite: #141414;
    --bg_colour_white: #1a1a1a;
    --bg_white_glass: #3b3b3b6b;
    --bg_selection: #666666;
    --bg_black_glass: #f9ffffda;
    --bg_colour_black: #fbfbfb;
    --bg_colour_dkgray: #f5f5f5;
    --bg_colour_lgray: #ebebeb;
    --text_colour_white: #000000;
    --text_colour_black: #ffffff;
    --text_colour_dkgray: #ececec;
    --text_colour_lgray: #e9e9e9;
    --shadow_box: rgba(110, 110, 110, 0.219) 0px 1px 0px,
      rgba(92, 92, 92, 0.267) 0px 0px 8px;
  }
}

.Container {
  width: var(--width_container);
  margin: var(--mg_auto);
  padding: var(--padding_l);
  &.P-Top {
    padding: var(--padding_l);
    padding-top: var(--nav-height);
  }
}

.ScrollToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: var(--bg_colour_dkgray);
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: var(--padding_s);
  cursor: pointer;
  display: grid;
  place-items: center !important;
  svg {
    path {
      fill: var(--bg_colour_white);
    }
  }
}

.Title {
  color: var(--text_colour_black);
  font-size: var(--font_size_l);
}

.SubTitle {
  color: var(--text_colour_black);
  margin-top: var(--mg_xs);
  font-size: var(--font_size_m);
}

.Title-Container {
  margin-bottom: 50px;
}

a,
button {
  cursor: pointer;
}

svg {
  pointer-events: none;
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--bg_selection);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--bg_selection);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--bg_selection);
}

::-ms-selection {
  background-color: var(--bg_selection);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--bg_selection);
}

section {
  padding: 50px 0px;
}

#Hero {
  height: calc(100vh - var(--nav-height));
  display: grid;
  place-items: center;
  color: var(--text_colour_black);
  .Title {
    font-size: var(--font_size_xl);
    text-align: center;
    mask: linear-gradient(
      45deg,
      transparent,
      #000 50%,
      #000000 50%,
      transparent
    );
  }
}

.Scroller {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 100;
  background-color: var(--bg_colour_dkgray);
  transform-origin: 0%;
}

@media screen and (min-width: 1220px) {
  .ScrollToTop {
    display: grid;
  }
}

@media screen and (max-width: 768px) {
  .ScrollToTop {
    bottom: 30px;
    right: 30px;
  }
}

.svgIcon {
  fill: var(--bg_colour_dkgray);
  &.Darkbg {
    fill: var(--bg_colour_white);
  }
}
