#About #Me .section-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#About #Me .image {
  margin: var(--mg_auto);
  width: 60%;
  min-width: 300px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 25% 35% 45% 100%;
}
#About #Me .Section-Card {
  width: 50%;
  margin: var(--mg_l) 0px;
}
#About #Me .Section-Card p {
  margin: var(--mg_l) 0px;
  font-size: var(--font_size_m);
  color: var(--text_colour_black);
}
#About #Me .Section-Card p a {
  color: var(--text_colour_lgray);
}
#About #Me .Section-Card p a:hover {
  color: var(--text_colour_dkgray);
}
#About #EducationExperience .section-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap_l);
}
#About #EducationExperience .section-Container .Section-Card {
  background-color: #fff;
  padding: var(--padding_l);
  border-radius: var(--border_rad10);
}
#About #EducationExperience .section-Container .Section-Card .Header {
  display: flex;
  gap: var(--gap_l);
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Name {
  font-size: var(--font_size_m);
  color: var(--text_colour_black);
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Course {
  font-size: var(--font_size_s);
  color: var(--text_colour_black);
  margin: var(--mg_xs) 0px;
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Date {
  color: var(--text_colour_dkgray);
}
#About #EducationExperience .section-Container .Section-Card .Body {
  margin-top: var(--mg_m);
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .Card-Title {
  font-size: var(--font_size_s);
  color: var(--text_colour_dkgray);
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .List li {
  padding: 3px 0px;
}
#About #Involvement .section-Container #InvolvementCard .Header {
  background-color: #fff;
  border-radius: var(--border_rad10);
  padding: var(--padding_l);
}
#About #Involvement .section-Container #InvolvementCard .Header .Main {
  display: flex;
  align-items: center;
  gap: var(--gap_l);
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Logo {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 65px;
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Details .Name-Position .Name {
  font-size: var(--font_size_m);
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Details .Name-Position .Name .Date {
  font-size: var(--font_size_s);
  color: var(--text_colour_lgray);
  font-weight: normal;
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Details .Name-Position .Position {
  margin-top: var(--mg_xs);
  color: var(--text_colour_dkgray);
}
#About #Involvement .section-Container #InvolvementCard .Header .Main .Details .Action {
  aspect-ratio: 1/1;
  border: 1px solid black;
  height: 60px;
}
#About #Involvement .section-Container #InvolvementCard .Card-Container .Detail-Container {
  padding: var(--padding_l);
}
#About #Involvement .section-Container #InvolvementCard .Card-Container .Detail-Container .Experience-Topic {
  margin-bottom: var(--mg_s);
}
#About #Involvement .section-Container #InvolvementCard .Card-Container .Detail-Container .Experience-Detail li {
  margin: var(--mg_xs);
  font-size: var(--font_size_s);
  color: var(--text_colour_black);
}
#About #Involvement .section-Container #InvolvementCard .Card-Container .Detail-Container .Experience-Summary p {
  font-size: var(--font_size_s);
}
#About #Certificates .section-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap_l);
}
#About #Certificates .section-Container #CertificateCard .Card-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: var(--padding_m);
  border-radius: var(--border_rad10);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Name {
  font-size: var(--font_size_m);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Organization {
  font-weight: normal;
  font-size: var(--font_size_s);
  margin: 3px 0px;
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Organization a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap_s);
  margin-left: var(--mg_xs);
  padding: 5px 10px;
  background-color: var(--bg_colour_white);
  font-size: var(--font_size_s);
  color: var(--text_colour_dkgray);
  border-radius: 4px;
}
#About .Card-Action {
  padding: var(--padding_m);
  border-radius: var(--border_rad10);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background-color: var(--bg_colour_white);
}
#About .Card-Action svg {
  transition: 0.3s all linear;
  transform: rotate(180deg);
}
#About .Card-Action.Active svg {
  transform: rotate(0deg);
}
#About .Card-Container {
  border-radius: var(--border_rad10);
  margin: var(--mg_s) 0px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s linear;
}
#About .Card-Container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#About .Card-Container.Shown {
  max-height: 800px;
}
#About #Contact .section-Container {
  display: flex;
  gap: var(--gap_l);
}
#About #Contact .section-Container .Section-Card {
  flex: 1 1 0;
}
#About #Contact .section-Container .Section-Card form .Input-Card {
  margin-bottom: calc(1.4 * var(--mg_l));
}
#About #Contact .section-Container .Section-Card form .Input-Card input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  padding: var(--padding_l);
  font-size: var(--font_size_s);
  border: 1px solid var(--bg_colour_lgray);
}
#About #Contact .section-Container .Section-Card form .Input-Card input:hover, #About #Contact .section-Container .Section-Card form .Input-Card input:focus {
  border: 1px solid var(--text_colour_black);
}
#About #Contact .section-Container .Section-Card form .Input-Card input.Submit {
  background-color: var(--bg_colour_dkgray);
  color: var(--text_colour_white);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#About #Contact .section-Container .Section-Card form .Input-Card input.Submit:hover {
  border: none;
}
#About #Contact .section-Container .Section-Card form .Input-Card textarea {
  width: 100%;
  height: 200px;
  padding: var(--padding_l);
  font-size: var(--font_size_s);
  border: 1px solid var(--bg_colour_lgray);
  border-radius: 6px;
  resize: none;
}
#About #Contact .section-Container .Section-Card form .Input-Card textarea:hover, #About #Contact .section-Container .Section-Card form .Input-Card textarea:focus {
  border: 1px solid var(--text_colour_black);
}
#About #Contact .section-Container .Section-Card form .Input-Card label {
  color: var(--text_colour_dkgray);
  background-color: var(--bg_colour_white);
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
  display: block;
  position: absolute;
  transform: translate(12px, -13px);
  font-size: var(--font_size_s);
}
#About #Contact .section-Container .Section-Card .Info-Card {
  background-color: #fff;
  margin-bottom: var(--mg_l);
  padding: var(--padding_m);
  display: flex;
  align-items: center;
  gap: var(--gap_l);
  border-radius: var(--border_rad10);
}
#About #Contact .section-Container .Section-Card .Info-Card .icon {
  aspect-ratio: 1/1;
  height: 40px;
  display: grid;
  place-items: center;
}
#About #Contact .section-Container .Section-Card .Info-Card .icon svg {
  width: 80%;
  height: 80%;
}
#About #Contact .section-Container .Section-Card .Info-Card .text {
  color: var(--text_colour_black);
  font-size: var(--font_size_s);
}

@media screen and (max-width: 900px) {
  #About #Certificates .section-Container {
    gap: 0px;
    grid-template-columns: 1fr;
  }
  #About #EducationExperience .section-Container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  #About #Contact .section-Container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 700px) {
  #About #Me .section-Container {
    flex-direction: column-reverse;
  }
  #About #Me .section-Container .Section-Card {
    width: 100%;
  }
  #About #EducationExperience .section-Container .Section-Card .Header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #About #EducationExperience .section-Container .Section-Card .Header .Details {
    width: 100%;
  }
  #About #Involvement .section-Container #InvolvementCard .Header .Main {
    flex-direction: column;
  }
}/*# sourceMappingURL=About.css.map */