#About {
  #Certificates {
    .section-Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gap_l);
      #CertificateCard {
        .Card-Header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          padding: var(--padding_m);
          border-radius: var(--border_rad10);
          .Card-Title {
            .Name {
              font-size: var(--font_size_m);
            }
            .Organization {
              font-weight: normal;
              font-size: var(--font_size_s);
              margin: 3px 0px;
              a {
                display: inline-flex;
                align-items: center;
                gap: var(--gap_s);
                margin-left: var(--mg_xs);
                padding: 5px 10px;
                background-color: var(--bg_colour_white);
                font-size: var(--font_size_s);
                color: var(--text_colour_dkgray);
                border-radius: 4px;
              }
            }
          }
          .Card-Action {
            padding: var(--padding_m);
            border-radius: var(--border_rad10);
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            background-color: var(--bg_colour_white);
            svg {
              transition: 0.3s all linear;
              transform: rotate(180deg);
            }
            &.Active {
              svg {
                transform: rotate(0deg);
              }
            }
          }
        }
        .Card-Container {
          margin: var(--mg_s) 0px;
          width: 100%;
          background-color: #fff;
          overflow: hidden;
          max-height: 0px;
          transition: max-height 0.4s linear;
          display: grid;
          place-items: center;
          img {
            width: 100%;
            object-fit: contain;
          }
          &.Shown {
            max-height: 600px;
          }
        }
      }
    }
  }
  #EducationExperience {
    .section-Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gap_l);
      .Section-Card {
        background-color: #fff;
        padding: var(--padding_l);
        border-radius: var(--border_rad10);
        .Header {
          display: flex;
          gap: var(--gap_l);

          .Details {
            .Name {
              font-size: var(--font_size_m);
              color: var(--text_colour_black);
            }
            .Course {
              font-size: var(--font_size_s);
              color: var(--text_colour_black);
              margin: var(--mg_xs) 0px;
            }
            .Date {
              color: var(--text_colour_dkgray);
            }
          }
        }
        .Body {
          margin-top: var(--mg_m);
          .Detail-Card {
            .Card-Title {
              font-size: var(--font_size_s);
              color: var(--text_colour_dkgray);
            }
            .List {
              li {
                padding: 3px 0px;
                a {
                  display: block;
                  font-size: var(--font_size_s);

                  color: var(--text_colour_lgray);
                  &:hover {
                    color: var(--text_colour_dkgray);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 900px) {
  #About {
    #Certificates {
      .section-Container {
        gap: 0px;
        grid-template-columns: 1fr;
      }
    }
    #EducationExperience {
      .section-Container {
        grid-template-columns: 1fr;
      }
    }
  }
}
