#About #Certificates .section-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap_l);
}
#About #Certificates .section-Container #CertificateCard .Card-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: var(--padding_m);
  border-radius: var(--border_rad10);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Name {
  font-size: var(--font_size_m);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Organization {
  font-weight: normal;
  font-size: var(--font_size_s);
  margin: 3px 0px;
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Title .Organization a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap_s);
  margin-left: var(--mg_xs);
  padding: 5px 10px;
  background-color: var(--bg_colour_white);
  font-size: var(--font_size_s);
  color: var(--text_colour_dkgray);
  border-radius: 4px;
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Action {
  padding: var(--padding_m);
  border-radius: var(--border_rad10);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background-color: var(--bg_colour_white);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Action svg {
  transition: 0.3s all linear;
  transform: rotate(180deg);
}
#About #Certificates .section-Container #CertificateCard .Card-Header .Card-Action.Active svg {
  transform: rotate(0deg);
}
#About #Certificates .section-Container #CertificateCard .Card-Container {
  margin: var(--mg_s) 0px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s linear;
  display: grid;
  place-items: center;
}
#About #Certificates .section-Container #CertificateCard .Card-Container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#About #Certificates .section-Container #CertificateCard .Card-Container.Shown {
  max-height: 600px;
}
#About #EducationExperience .section-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap_l);
}
#About #EducationExperience .section-Container .Section-Card {
  background-color: #fff;
  padding: var(--padding_l);
  border-radius: var(--border_rad10);
}
#About #EducationExperience .section-Container .Section-Card .Header {
  display: flex;
  gap: var(--gap_l);
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Name {
  font-size: var(--font_size_m);
  color: var(--text_colour_black);
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Course {
  font-size: var(--font_size_s);
  color: var(--text_colour_black);
  margin: var(--mg_xs) 0px;
}
#About #EducationExperience .section-Container .Section-Card .Header .Details .Date {
  color: var(--text_colour_dkgray);
}
#About #EducationExperience .section-Container .Section-Card .Body {
  margin-top: var(--mg_m);
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .Card-Title {
  font-size: var(--font_size_s);
  color: var(--text_colour_dkgray);
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .List li {
  padding: 3px 0px;
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .List li a {
  display: block;
  font-size: var(--font_size_s);
  color: var(--text_colour_lgray);
}
#About #EducationExperience .section-Container .Section-Card .Body .Detail-Card .List li a:hover {
  color: var(--text_colour_dkgray);
}

@media screen and (min-width: 1px) and (max-width: 900px) {
  #About #Certificates .section-Container {
    gap: 0px;
    grid-template-columns: 1fr;
  }
  #About #EducationExperience .section-Container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=About.css.map */