#Skills {
  width: var(--width_container);
  margin: auto;
  .SkillCard-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: var(--padding_20);
    #SkillCard {
      background-color: var(--colour_pure_white);
      aspect-ratio: 1/1;
      width: 140px;
      border-radius: 8px;
      display: grid;
      place-items: center;
      box-shadow: var(--box_shadow);
      img {
        max-width: 70px;
      }
    }
  }
}
