#Skills {
  width: var(--width_container);
  margin: auto;
  .Skills-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .SkillCard-Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      padding: var(--padding_20);
      width: 50%;
      #SkillCard {
        background-color: var(--colour_pure_white);
        aspect-ratio: 1/1;
        width: 90px;
        border-radius: 12px;
        display: grid;
        place-items: center;
        box-shadow: var(--box_shadow);
        img {
          transition: 0.2s all ease-in-out;
          max-width: 50px;
        }
        &:hover {
          img {
            scale: 1.1;
          }
        }
      }
    }
    .Image-Container {
      width: 50%;
      display: grid;
      place-items: center;
      min-width: 300px;
      img {
        width: clamp(300px, 95%, 500px);
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Skills {
    .Skills-Container {
      flex-direction: column-reverse;
      gap: 50px;
      .SkillCard-Container {
        width: 100%;
      }
    }
  }
}
