#Contact {
  .Contact-Container {
    .form-container {
      padding: var(--padding_20);
      width: clamp(300px, 100%, 700px);
      margin: auto;
      form {
        .button-end {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
}
