#Contact {
  .Contact-Container {
    width: var(--width_container);
    margin: auto;
    padding: var(--padding_020);
    .contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .section {
        width: calc(50% - 10px);

        &.personal-details {
          width: 100%;
          max-width: 420px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .detail-card {
          width: 100%;
          margin: 10px 0px;
          gap: 20px;
          display: flex;
          align-items: center;
          padding: 15px;
          border-radius: 12px;
          background-color: var(--bg_colour_lblack);
          box-shadow: var(--box_shadow);
          .text {
            p,
            a {
              color: var(--text_colour_white);
              font-size: var(--font_size_20);
            }
            a:hover {
              color: var(--colour_main_blue);
            }
          }
        }
      }
      // a {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   gap: 10px;
      //   padding: 20px;
      //   box-shadow: var(--box_shadow);
      //   background-color: var(--colour_pure_white);
      //   color: var(--text_colour_black);
      //   font-weight: 500;
      //   letter-spacing: 1px;
      //   border-radius: 12px;
      // }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Contact {
    .Contact-Container {
      .contact-form {
        .section {
          width: 100%;

          .detail-card {
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
