#Projects {
  section {
    .Filter-Text {
      font-size: var(--font_size_s);
      margin-bottom: var(--mg_m);
    }
    .option-Tab {
      display: flex;
      gap: var(--gap_l);
      margin-bottom: var(--mg_l);
      .Tab {
        border-radius: var(--border_rad10);
        padding: var(--padding_btn_m);
        background-color: var(--bg_colour_absoluteWhite);
        color: var(--text_colour_black);
        font-size: var(--font_size_s);
        cursor: pointer;
        &.active {
          background-color: var(--bg_colour_dkgray);
          color: var(--text_colour_white);
        }
      }
      &.Desktop {
      }
      &.Mobile {
        display: none;
        position: relative;
        .Filter {
          .Tab {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        .Option {
          overflow: hidden;
          background-color: var(--bg_colour_white);
          padding: var(--padding_m);
          border-radius: var(--border_rad10);
          margin-top: var(--mg_l);
          position: absolute;
          width: 100%;
          .Tab {
            margin-bottom: var(--mg_xs);
          }
        }
      }
    }
    .section-Container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gap_l);
      min-height: 570px;
      .ProjectCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap_l);
        background-color: #fff;
        border-radius: var(--border_rad10);
        .image-Container {
          aspect-ratio: 16/9;
          overflow: hidden;
          padding: var(--padding_s);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
          .NoImage {
            height: 100%;
            display: grid;
            place-items: center;
          }
        }
        .details-Container {
          display: flex;
          flex-direction: column;
          padding: var(--padding_l);
          .Project__Details {
            .Project-Title {
              font-size: var(--font_size_m);
              color: var(--text_colour_black);
              .Project-Timeline {
                color: var(--text_colour_dkgray);
                font-size: var(--font_size_s);
              }
            }
            .Project-technology {
              font-size: var(--font_size_s);
              color: var(--text_colour_lgray);
            }
            .Project-Description {
              margin-top: var(--mg_s);
              font-size: var(--font_size_s);
            }
          }
        }
        .Button-Container {
          display: flex;
          gap: var(--gap_l);
          padding: var(--padding_l);
          .Button {
            padding: var(--padding_btn_s);
            background-color: var(--bg_colour_dkgray);
            color: var(--text_colour_white);
            font-weight: bold;
            font-size: var(--font_size_ss);
            cursor: pointer;
            border-radius: var(--border_rad10);
          }
        }
      }
      .Empty_Pages {
        margin-top: var(--mg_l);
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Projects {
    section {
      .section-Container {
        grid-template-columns: 1fr;
      }

      .option-Tab {
        &.Desktop {
          display: none;
        }
        &.Mobile {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  #Projects {
    section {
      .section-Container {
        .ProjectCard {
          .Button-Container {
            flex-direction: column;
            margin-top: var(--mg_l);
            gap: var(--gap_s);
            .Button {
              width: 100%;
              justify-content: center;
              flex: 1 1 0;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
