.Title-Container {
  padding: 100px 20px;
  text-align: center;
  .Title {
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: var(--colour_main_blue);
  }
  .Subtitle {
    letter-spacing: 1px;
    color: var(--text_colour_lgray);
  }
}
