#About {
  .About-Container {
    width: var(--width_container);
    padding: var(--padding_20);
    margin: auto;
    .About-Content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .About-Image {
        width: fit-content;
        padding: 30px;
        background-image: url("/blobabt.svg");
        img {
          width: clamp(250px, 35vw, 350px);
        }
      }
      .About-Text {
        max-width: 750px;
        line-height: 1.4;
        font-size: var(--font_size_20);
        color: var(--text_colour_white);
        a {
          color: var(--colour_main_blue);
        }
      }
    }
  }
}
