#About {
  .About-Container {
    width: var(--width_container);
    padding: var(--padding_20);
    margin: auto;
    .About-Content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .About-Image {
        width: fit-content;
        padding: 30px;
        img {
          width: clamp(250px, 35vw, 350px);
        }
      }
      .About-Text {
        background-color: var(--bg_colour_lblack);
        padding: 20px;
        border-radius: 12px;
        box-shadow: var(--box_shadow);
        max-width: 750px;
        line-height: 1.4;
        font-size: var(--font_size_18);
        color: var(--text_colour_white);
        a {
          color: var(--colour_main_blue);
        }
      }
    }
    .statistic {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      align-items: center;
      gap: 30px;
      #StatisticCard {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 6px;
        padding: var(--padding_20);
        min-width: 300px;
        .details {
          .Numbers {
            margin-bottom: 4px;
            h1 {
              letter-spacing: 1px;
              color: var(--text_colour_white);
            }
          }
          .Title {
            p {
              color: var(--text_colour_dkgray);
              letter-spacing: 1px;
              font-size: var(--font_size_16);
            }
          }
        }
        .icon {
          margin-right: 15px;
          display: grid;
          place-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .About-Container {
    .About-Content {
      flex-direction: column;
    }
  }
}
