#Footer {
  padding-left: 110px;
  width: 100%;
  background-color: var(--bg_colour_white);
  display: grid;
  place-items: center;
  .Footer-Container {
    width: var(--width_container);
    padding: var(--padding_20);
    .section-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
      gap: 40px;
      .section {
        .Title {
          text-align: center;
          margin-bottom: 10px;
        }
        ul {
          display: flex;
          gap: var(--gap_15);
          a {
            display: grid;
            place-items: center;
          }
        }
        &.Socials {
          ul {
            a {
              border-radius: 24px;
              background-color: var(--bg_colour_white);
            }
          }
        }
      }
    }
  }
}
