@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --colour_pure_white: #fff;
  --bg_colour_white: #f9f7fd;
  --bg_colour_black: #181818;
  --bg_colour_lblack: #202020;

  --colour_main_blue_dark: #0076ad;
  --colour_main_blue: #008dcf;

  --text_colour_white: #d1d1d1;
  --text_colour_black: #353252;

  --text_colour_dkgray: #6f6f6f;
  --text_colour_lgray: #c4c4c4;

  --padding_20: 20px;
  --padding_020: 0px 20px;
  --padding_1020: 10px 20px;
  --padding_200: 0px 20px;
  --padding_2010: 20px 10px;
  --padding_10: 10px;

  --margin_auto: auto;
  --margin_20auto: 20px auto;
  --margoin_auto20: auto 20px;

  --nav_height: 60px;

  --width_container: clamp(1px, 100%, 1200px);

  --gap_15: 15px;

  --font_size_64: clamp(40px, 6vw, 64px);
  --font_size_48: clamp(32px, 6vw, 48px);
  --font_size_32: clamp(24px, 6vw, 32px);
  --font_size_25: clamp(20px, 3vw, 25px);
  --font_size_20: clamp(18px, 6vw, 20px);
  --font_size_18: clamp(16px, 6vw, 18px);
  --font_size_16: clamp(14px, 6vw, 16px);
  --font_size_14: clamp(12px, 6vw, 14px);
  --font_size_10: clamp(10px, 6vw, 10px);

  --box_shadow: rgba(88, 88, 117, 0.03) 0px 4px 16px,
    rgba(83, 83, 126, 0.03) 0px 8px 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;

  font-family: "Rubik", sans-serif;

  transition: 0.15s ease-in-out all;
}

body {
  background-color: var(--bg_colour_black);
  background-image: radial-gradient(rgb(43, 43, 43) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}
