#Services {
  width: var(--width_container);
  margin: auto;
  .wrapper {
    display: flex;
    .ServiceCard-Container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      flex-wrap: wrap;
      padding: var(--padding_20);
      width: 50%;
      #ServiceCard {
        padding: var(--padding_20);
        border-radius: 8px;
        flex: 1 1 0;
        min-width: 300px;
        background-color: var(--colour_pure_white);
        box-shadow: var(--box_shadow);
        cursor: default;
        .Title {
          text-align: center;
          margin: 5px 0px;
          h3 {
            font-size: var(--font_size_25);
            letter-spacing: 1px;
          }
        }

        .Content {
          margin: 20px 0px;
          p {
            text-align: justify;
            font-size: var(--font_size_20);
            padding: var(--padding_020);
          }
        }
      }
    }
    .ServiceImage-Container {
      width: 50%;
      display: grid;
      place-items: center;
      img {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 728px) {
  #Services {
    .wrapper {
      flex-direction: column;
      gap: 50px;
      .ServiceCard-Container {
        width: 100%;
      }
      .ServiceImage-Container {
        width: 100%;
        img {
          max-width: 250px;
        }
      }
    }
  }
}
